@import "./variable.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

h1 {
    color: $dark-blue;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 0px;
}

h2 {
    color: $dark-blue;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
}

h3 {
    color: $dark-blue;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 5px;
}

h4 {
    color: $light-blue-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 10px;
}

p {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 10px;
}