$body-bg: #eff3f6;
$ash-color: #cccccc;
$white-color: #ffffff;
$dark-blue: #354052;
$green-color: #37b148;
$dark-green-color: #249534;
$text-color: #9ea9ba;
$dark-ash-color: #88909b;
$light-blue-color: #808fa4;